* {
    font-family: Arial, Helvetica, sans-serif;
}
/* header {
    position: absolute;
} */
a {
    position: absolute;
    text-decoration: none;
    top: 1vh;
    left: 1vh;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.landing-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-Quiz {
    color: white;
    background-color: blueviolet;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 2px;
}
.start-Quiz:hover {
    background-color: rgba(138, 43, 226, 0.7);
    cursor: pointer;
}
.hide {
    display: none;
}
#question {
    font-size: 150%;
}
/* button styling */
.quizButton {
    display: flex;
    color: white;
    background-color: blueviolet;
    margin: 1%;
    border-radius: 4px;
    /* animation transition */
    transition: 300ms;
}
.quizButton:hover {
    cursor: pointer;
    padding: 1.5%;
    transition: 300ms;
    font-size: large;
    font-weight: bolder;
}
.quizButton:active {
    background-color: rgba(138, 43, 226, 0.7);
}
#correct-answer-highlight {
    background-color: green;
}
#wrong-answer-highlight{
    background-color: red;
}
#submit {
    background-color: blueviolet;
    color: white;
    margin: 1%;
    padding: 3%;
    border: none;

}